<header>
    <nav>
        <div class="heading">
            <p>Issue Tracker System</p>
                <a id="createProject" href="/project/createproject"><i class="fa fa-plus-square" style="font-size:24px"></i> Create Project</a>
        </div>
    </nav>
</header>