<!-- main page or home page -->
<div id="main-page">
    <h1>Project Details</h1>
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Author Name</th>
                <th>Project Description</th>
                <th></th>
            </tr>
        </thead>
        <% for(i of project){ %>
            <tr>
                <td><%= i.projectname%></td>
                <td><%= i.projectauthor%></td>
                <td><%= i.projectdescription%></td>
                <td id="showIssue"><a href="/project/issue?projectid=<%=i.id%>"><i class='fas fa-eye' style='font-size:24px'></i> Show Issue</a></td>
            </tr>
        <% } %> 
    </table>
</div>
            